<!DOCTYPE html>
<html>
<head>
    <title>Center Register</title>
</head>
<body>
    <h2>Center Registration</h2>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit">Register</button>
    </form>

    <a href="/center_login/">Already have account? Login</a>
</body>
</html>
